.vscode/
pyEnv/
MissionControllerUI/.idea/
MissionControllerUI/javafx-sdk-18.0.1 2/
MissionControllerUI/target/
.env
important.txt
packagedMissionController/
venv/
direwolf-1.5-win/
DisconnectMonitor.py
aprs_commands.wav
callsign.txt
__pycache__/
callsign.json
important.json