aiodns==3.0.0
brotli==1.0.9
brotlicffi==1.0.9.2
brotlipy==0.7.0
cchardet==2.1.7
configparser==3.5.0
cryptography==3.4.8
Cython==0.29.28
dl==0.1.0
docutils==0.17.1
gevent==21.12.0
gunicorn==20.1.0
HTMLParser==0.0.2
idna_ssl==1.1.0
importlib_metadata==4.11.3
ipython==8.4.0
ipywidgets==7.6.5
Jinja2==2.11.3
jnius==1.1.0
keyring==23.4.0
lockfile==0.12.2
lxml==4.8.0
mock==4.0.3
monotime==1.0
nacl==0.0.0
numpy==1.22.3
ordereddict==1.1
paramiko==2.8.1
pexpect==4.8.0
Pillow==9.2.0
protobuf==4.21.2
pyczmq==0.0.4
PyNaCl==1.4.0
pyOpenSSL==22.0.0
pytest==7.1.1
pywin32==302
railroad==0.5.0
simplejson==3.17.6
Sphinx==4.4.0
tokio==0.2.0
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
uvloop==0.16.0
xmlrpclib==1.0.1
zipp==3.7.0
discord==1.7.3
python_dotenv==0.20.0
